body{
    background-color: rgb(140, 140, 225);
    height: 100vh;
}


.container{
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    border: 2px solid beige;
}

.grid{
    background-color: beige;
}

.ui{
    display: flex;
    gap: 10px;
}

.btn{
    height: fit-content;
    border-radius: 7px;
    padding: 2px 5px;
}