body{
    background-color: rgb(140, 140, 225);
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.container{
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    border: 2px solid rgb(221, 221, 118);
}

.grid{
    background-color: beige;
}

.content{
    display: flex;
    gap: 10px;
}

.btncss{
    height: fit-content;
    border-radius: 7px;
    padding: 2px 5px;
    background-color: rgb(1, 1, 27);
    color: rgb(140, 140, 225);
}

.ui{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}